* {
	font-weight: 100;
	margin: 0;padding: 0;
	list-style: none;
	box-sizing: border-box;
}
::selection {
	background: rgba(0,0,0,1);
	color: white;
}
::-moz-selection {
	background: rgba(0,0,0,1);
	color: white;
}
body {
	font-family: "jaf-facitweb";
}
header {
	width: 100%;
	text-align: center;
}
h1 {
	font-weight: bold;
	font-size: 5rem;
}
h2 {
	font-size: .9rem;
	font-weight: 500;
}
.code {
	width: intrinsic;
	font-family: "Monaco";
	white-space: pre;
	padding: 0 20px;
	margin: 20px auto;
	font-size: .9rem;
	background: #f0f0f0;
}
.ex {
	text-align: center;
	letter-spacing: 1px;
	
}
.btns {
	width: 300px;
	height: 50px;
	background: red;
	margin: 20px auto;
	background: #555;
	border-radius: 3px;
}
.btns a {
	display: block;
	float: left;
	width: 50%;
	text-align: center;
	line-height: 50px;
	color: white;
	text-decoration: none;
	
}
.btns a:first-child {
	border-right: 1px solid #777;
}
.btns a:hover {
	background: #666;
}